# Environment variables
.env

# Python virtual environments
.venv/
venv/

# VSCode / IDE configs
.vscode/
.idea/

# Docker-related
*.log
*.pid
*.seed
*.db
docker-data/

# __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db

# Abaikan file Jupyter Notebook dari statistik bahasa
*.ipynb linguist-vendored

# Abaikan file CSV dari statistik
*.csv linguist-vendored

# Paksa file Python di backend dihitung sebagai Python (Opsional, buat negesin)
backend/**/*.py linguist-language=Python
api/**/*.py linguist-language=Python