# File ini biar GitHub gak ngitung CSV & Notebook sebagai bahasa utama
*.csv linguist-vendored
*.ipynb linguist-vendored

# Paksa backend dihitung sebagai Python
backend/**/*.py linguist-language=Python