*.csv linguist-vendored
*.ipynb linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
*.mjs linguist-vendored
*.cjs linguist-vendored
*.ipynb linguist-language=Python
backend/**/*.py linguist-language=Python