# Environment variables
.env

# Python virtual environments
.venv/
venv/

# VSCode / IDE configs
.vscode/
.idea/

# Docker-related
*.log
*.pid
*.seed
*.db
docker-data/

# __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db
node_modules
