services:
  # 1. Servis untuk Aplikasi FastAPI
  - type: web
    name: personalify
    env: docker
    region: oregon
    plan: free
    healthCheckPath: /
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        fromService:
          type: redis
          name: personalify-cache
          property: connectionString
      # Variabel sensitif
      - key: MONGO_URI
        sync: false
      - key: SPOTIFY_CLIENT_ID
        sync: false
      - key: SPOTIFY_CLIENT_SECRET
        sync: false
      - key: SPOTIFY_REDIRECT_URI
        sync: false
      - key: HUGGING_FACE_API_KEY
        sync: false
      - key: GENIUS_ACCESS_TOKEN
        sync: false

  # 2. Servis untuk Cache Redis
  - type: redis
    name: personalify-cache
    region: oregon
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere