<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalify</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='home.css') }}">
</head>
<body>
    
    <img src="{{ url_for('static', path='favicon.ico') }}" alt="Personalify Logo" class="logo">

    <div class="hero">
        <h1>Welcome to Personalify!</h1>
        <p>Discover your most played artists, tracks, and genres through Spotify insights. Let's explore your unique taste in music.</p>
        <a class="button" href="/login">Login with Spotify</a>
    </div>

    <footer>
        Personalify &copy; 2025 • Powered by Spotify API
        <br>
        Created by <a href="https://desty.page/anggars" target="_blank" class="footer-link">アリツ</a>
    </footer>

</body>
</html>