<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personalify</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='Spotify_Primary_Logo_RGB_White.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="JgCSMAYUdz7lltCAqQ0TyE4fW0EwZEQazmvQt6K5T7s" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='home.css') }}">
</head>
<body>
    
    <img src="{{ url_for('static', path='Spotify_Primary_Logo_RGB_Green.ico') }}" alt="Personalify Logo" class="logo">

    <div class="hero">
        <h1>Welcome to Personalify!</h1>
    <p>
        Discover your most played artists, tracks, and genres through Spotify insights.
        Go beyond the sound and <a href="/lyrics" class="footer-link">analyze the emotion hidden in the lyrics</a>.
        Let's explore your unique taste in music.
    </p>
        <a class="button" href="/login">Login with Spotify</a>
    </div>

    <footer>
        Personalify &copy; 2025 • Powered by <a href="https://developer.spotify.com/" target="_blank" class="footer-link">Spotify API</a>
        <br>
        <span>Created by </span>
        <a href="https://desty.page/anggars" target="_blank" class="footer-link">アリツ</a>
    </footer>

</body>
</html>